<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chatboom">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logolag"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logolag"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ChangeStatus"></activity>
        <activity android:name=".account" />
        <activity android:name=".profile" />
        <activity android:name=".Chat" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".mainboard" />
        <activity android:name=".Signup" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>